*{
  box-sizing: border-box;
}

body {

  background-color: #F2F6F6;

  .app {
    width: 100vw;
    height: auto;
    background-color: #FCD2AF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contactForm {
      margin: 25px;
      width: 60vw;
      height: auto;
      background-color: #A0C1C1;
      .contactForm_container {
            input {
            font-size: 20px;
            font-weight: 400;
            color: #699797;
            background-color: #FCD2AF;
            margin: 10px;
          }
          .submit {
            font-size: 20px;
            font-weight: 400;
            color: #FCD2AF;
            background-color: #699797;
            width: 200px;
            height: 50px;
            text-align: center;
            margin: 10px;
          }
        }
      }
      .contactsList {
        list-style-type: none;

        .contactItem {
          width: auto;
          height: auto;
          border: 4px solid #2a3c3c;
          border-radius: 5px;
          background-color: #faab6b;
          margin: 10px;
          .contactLabel  {
            margin-left: 15px;
            font-size: 24px;
            font-weight: 800;
            color: #2a3c3c;

            .contactLabel_span {
              font-size: 24px;
              font-weight: 500;
              color: #547878;
              text-shadow: 1px 0.5px #2a3c3c;
            }
          }

          .contactEmail {
            margin-left: 15px;
            margin-bottom: 15px;
            font-size: 24px;
            font-weight: 800;
            color: #2a3c3c;
            .contactEmail_link {
              font-size: 24px;
              font-weight: 600;
              color: #dd6808;
              text-decoration: none;
            }
          }
        }
      }
    }
}
